<app-header></app-header>
<div class="row">
    <div class="col-xs-12 col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <form 
                (ngSubmit)="crearUsuario()"
                autocomplete="off"
                [formGroup]="registerForm"
                >
                    <div class="row">
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Nombres</label>
                            <input type="text" class="form-control"  formControlName="nombres" placeholder="Ingrese nombres">
                        </div>
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Apellidos </label>
                            <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese Apellidos">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Tipo de Identificación</label>
                            <input type="text" class="form-control" formControlName="tipo_identificacion" placeholder="Tipo de Indentificacion">
                        </div>
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Identificación</label>
                            <input type="text" class="form-control"  formControlName="identificacion" placeholder="Ingrese identificacion">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Correo electrónico</label>
                            <input type="email" class="form-control"  formControlName="correo" placeholder="Ingrese correo electronico">
                        </div>
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Teléfono </label>
                            <input type="text" class="form-control"  formControlName="telefono" placeholder="Ingrese telefono">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Contraseña</label>
                            <input type="text" class="form-control"  formControlName="password" placeholder="Ingrese contraseña">
                        </div>
                        <div class="col-xs-12 col-md-6 mb-3">
                            <label for="">Confirmar Contraseña </label>
                            <input type="text" class="form-control"  formControlName="password2" placeholder="repita contraseña">
                        </div>
                    </div>
                    <div class="row  ">
                        <div class="col-xs-12 col-md-6 mx-auto mb-2">
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (error)="handleError()"
                                [useGlobalDomain]="false" size="normal" hl="lang" theme="light" type="image"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-2 ">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  formControlName="terminos">
                                <label class="form-check-label" for="flexCheckDefault" style="margin-top: 2px;">
                                    Aceptar las <a href="">politicas y condiciones</a>
                                </label>
                              </div>
                            

                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="text-center">
                            <button mat-raised-button color="primary"> Enviar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <a href="">iniciar sesión</a>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>